<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB 1.3 MB/s eta 0:00:05
     ---------------------------------------- 0.1/6.0 MB 656.4 kB/s eta 0:00:09
      --------------------------------------- 0.1/6.0 MB 901.1 kB/s eta 0:00:07
     - -------------------------------------- 0.2/6.0 MB 952.6 kB/s eta 0:00:07
     - -------------------------------------- 0.2/6.0 MB 1.3 MB/s eta 0:00:05
     -- ------------------------------------- 0.4/6.0 MB 1.4 MB/s eta 0:00:05
     --- ------------------------------------ 0.5/6.0 MB 1.7 MB/s eta 0:00:04
     --- ------------------------------------ 0.6/6.0 MB 1.6 MB/s eta 0:00:04
     ----- ---------------------------------- 0.8/6.0 MB 2.1 MB/s eta 0:00:03
     ------ --------------------------------- 0.9/6.0 MB 2.2 MB/s eta 0:00:03
     ------ --------------------------------- 1.0/6.0 MB 2.1 MB/s eta 0:00:03
     -------- ------------------------------- 1.3/6.0 MB 2.3 MB/s eta 0:00:02
     -------- ------------------------------- 1.3/6.0 MB 2.4 MB/s eta 0:00:02
     --------- ------------------------------ 1.4/6.0 MB 2.3 MB/s eta 0:00:03
     ----------- ---------------------------- 1.7/6.0 MB 2.5 MB/s eta 0:00:02
     ----------- ---------------------------- 1.8/6.0 MB 2.5 MB/s eta 0:00:02
     ------------ --------------------------- 1.8/6.0 MB 2.4 MB/s eta 0:00:02
     ------------- -------------------------- 2.0/6.0 MB 2.5 MB/s eta 0:00:02
     --------------- ------------------------ 2.2/6.0 MB 2.6 MB/s eta 0:00:02
     --------------- ------------------------ 2.3/6.0 MB 2.5 MB/s eta 0:00:02
     --------------- ------------------------ 2.3/6.0 MB 2.5 MB/s eta 0:00:02
     ---------------- ----------------------- 2.4/6.0 MB 2.4 MB/s eta 0:00:02
     ----------------- ---------------------- 2.6/6.0 MB 2.5 MB/s eta 0:00:02
     ------------------ --------------------- 2.7/6.0 MB 2.5 MB/s eta 0:00:02
     ------------------ --------------------- 2.7/6.0 MB 2.5 MB/s eta 0:00:02
     ------------------- -------------------- 2.9/6.0 MB 2.5 MB/s eta 0:00:02
     --------------------- ------------------ 3.2/6.0 MB 2.6 MB/s eta 0:00:02
     --------------------- ------------------ 3.3/6.0 MB 2.6 MB/s eta 0:00:02
     ---------------------- ----------------- 3.4/6.0 MB 2.6 MB/s eta 0:00:02
     ------------------------ --------------- 3.7/6.0 MB 2.7 MB/s eta 0:00:01
     ------------------------- -------------- 3.8/6.0 MB 2.7 MB/s eta 0:00:01
     ------------------------- -------------- 3.9/6.0 MB 2.6 MB/s eta 0:00:01
     ---------------------------- ----------- 4.2/6.0 MB 2.8 MB/s eta 0:00:01
     ----------------------------- ---------- 4.4/6.0 MB 2.8 MB/s eta 0:00:01
     ----------------------------- ---------- 4.4/6.0 MB 2.7 MB/s eta 0:00:01
     ------------------------------- -------- 4.7/6.0 MB 2.8 MB/s eta 0:00:01
     --------------------------------- ------ 5.0/6.0 MB 2.9 MB/s eta 0:00:01
     --------------------------------- ------ 5.0/6.0 MB 2.9 MB/s eta 0:00:01
     --------------------------------- ------ 5.0/6.0 MB 2.8 MB/s eta 0:00:01
     ------------------------------------ --- 5.4/6.0 MB 2.9 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 3.0 MB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 3.0 MB/s eta 0:00:01
     -------------------------------------- - 5.7/6.0 MB 2.9 MB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 3.0 MB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 3.0 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-win_amd64.whl size=1163627 sha256=22fd2b7aae3765afda89dcda58bbab851066f7449e29514e463647dc87423b84
  Stored in directory: c:\users\admin\appdata\local\pip\cache\wheels\3a\7c\1e\12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.9

[notice] A new release of pip is available: 24.1.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.10.2-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (8.24.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.31-cp311-cp311-win_amd64.whl.metadata (9.9 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from ipython-sql) (1.16.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.11.0)
Collecting greenlet!=0.4.17 (from sqlalchemy>=2.0->ipython-sql)
  Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl.metadata (3.9 kB)
Requirement already satisfied: decorator in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (4.4.2)
Requirement already satisfied: jedi>=0.16 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing>=1.2.0 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\users\admin\appdata\local\programs\python\python311\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.31-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB ? eta -:--:--
   - -------------------------------------- 0.1/2.1 MB 1.3 MB/s eta 0:00:02
   --- ------------------------------------ 0.2/2.1 MB 1.7 MB/s eta 0:00:02
   ---- ----------------------------------- 0.2/2.1 MB 1.3 MB/s eta 0:00:02
   ------ --------------------------------- 0.4/2.1 MB 1.6 MB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.1 MB 1.7 MB/s eta 0:00:01
   -------- ------------------------------- 0.4/2.1 MB 1.4 MB/s eta 0:00:02
   ---------- ----------------------------- 0.6/2.1 MB 1.5 MB/s eta 0:00:02
   ---------- ----------------------------- 0.6/2.1 MB 1.5 MB/s eta 0:00:02
   ------------ --------------------------- 0.6/2.1 MB 1.4 MB/s eta 0:00:02
   ------------- -------------------------- 0.7/2.1 MB 1.5 MB/s eta 0:00:01
   ------------- -------------------------- 0.7/2.1 MB 1.5 MB/s eta 0:00:01
   ---------------- ----------------------- 0.8/2.1 MB 1.4 MB/s eta 0:00:01
   ----------------- ---------------------- 0.9/2.1 MB 1.5 MB/s eta 0:00:01
   ----------------- ---------------------- 0.9/2.1 MB 1.5 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 1.4 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 1.5 MB/s eta 0:00:01
   --------------------- ------------------ 1.1/2.1 MB 1.5 MB/s eta 0:00:01
   ----------------------- ---------------- 1.2/2.1 MB 1.4 MB/s eta 0:00:01
   ------------------------- -------------- 1.3/2.1 MB 1.4 MB/s eta 0:00:01
   ------------------------- -------------- 1.3/2.1 MB 1.4 MB/s eta 0:00:01
   -------------------------- ------------- 1.4/2.1 MB 1.4 MB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 1.4 MB/s eta 0:00:01
   ----------------------------- ---------- 1.5/2.1 MB 1.4 MB/s eta 0:00:01
   ------------------------------ --------- 1.6/2.1 MB 1.4 MB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.1 MB 1.5 MB/s eta 0:00:01
   --------------------------------- ------ 1.8/2.1 MB 1.5 MB/s eta 0:00:01
   ----------------------------------- ---- 1.8/2.1 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 2.0/2.1 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 1.5 MB/s eta 0:00:00
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.10.2-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.2 kB ? eta -:--:--
   ---------------------------------------- 44.2/44.2 kB ? eta 0:00:00
Downloading greenlet-3.0.3-cp311-cp311-win_amd64.whl (292 kB)
   ---------------------------------------- 0.0/292.8 kB ? eta -:--:--
   ---------------- ----------------------- 122.9/292.8 kB 3.6 MB/s eta 0:00:01
   --------------------------------- ------ 245.8/292.8 kB 3.0 MB/s eta 0:00:01
   --------------------------------- ------ 245.8/292.8 kB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 292.8/292.8 kB 1.8 MB/s eta 0:00:00
Installing collected packages: ipython-genutils, sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed greenlet-3.0.3 ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.10.2 sqlalchemy-2.0.31 sqlparse-0.5.1

[notice] A new release of pip is available: 24.1.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
%load_ext sql

In [4]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [5]:
!pip install -q pandas

[notice] A new release of pip is available: 24.1.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
%sql sqlite:///my_data1.db

In [8]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [16]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [17]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [26]:
%sql select distinct(Launch_Site)from SPACEXTBL

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [28]:
%sql select * from SPACEXTBL where Launch_Site like 'CCA%' limit 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [31]:
%sql select sum(PAYLOAD_MASS__KG_) from SPACEXTBL where Customer='NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [33]:
%sql select avg(PAYLOAD_MASS__KG_) from SPACEXTBL where Booster_Version like '%F9 v1.1%'

 * sqlite:///my_data1.db
Done.

[(2534.6666666666665,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [35]:
%sql select min(Date) from SPACEXTBL where Mission_Outcome = 'Success'

 * sqlite:///my_data1.db
Done.

[('2010-06-04',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [38]:
%sql select distinct(Booster_Version) from SPACEXTBL where PAYLOAD_MASS__KG_ between 4000 and 6000

 * sqlite:///my_data1.db
Done.

[('F9 v1.1',),
 ('F9 v1.1 B1011',),
 ('F9 v1.1 B1014',),
 ('F9 v1.1 B1016',),
 ('F9 FT B1020',),
 ('F9 FT B1022',),
 ('F9 FT B1026',),
 ('F9 FT B1030',),
 ('F9 FT  B1021.2',),
 ('F9 FT B1032.1',),
 ('F9 B4 B1040.1',),
 ('F9 FT  B1031.2',),
 ('F9 B4 B1043.1',),
 ('F9 FT  B1032.2',),
 ('F9 B4  B1040.2',),
 ('F9 B5 B1046.2',),
 ('F9 B5 B1047.2',),
 ('F9 B5 B1046.3',),
 ('F9 B5B1054',),
 ('F9 B5 B1048.3',),
 ('F9 B5 B1051.2 ',),
 ('F9 B5B1060.1',),
 ('F9 B5 B1058.2 ',),
 ('F9 B5B1062.1',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [48]:
%sql select count(*), Mission_Outcome from SPACEXTBL group by Mission_Outcome

 * sqlite:///my_data1.db
Done.

[(1, 'Failure (in flight)'),
 (98, 'Success'),
 (1, 'Success '),
 (1, 'Success (payload status unclear)')]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [43]:
%sql select Booster_Version from SPACEXTBL where PAYLOAD_MASS__KG_	= (select max(PAYLOAD_MASS__KG_	) from SPACEXTBL)

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [54]:
%sql SELECT strftime('%m', Date) AS Month, Landing_Outcome, Booster_Version, Launch_Site FROM SPACEXTBL WHERE Landing_Outcome = 'Failure (drone ship)' AND strftime('%Y', Date) = '2015';

 * sqlite:///my_data1.db
Done.

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [59]:
%sql select count(*) as cnt, Landing_Outcome from SPACEXTBL group by Landing_Outcome order by cnt DESC

 * sqlite:///my_data1.db
Done.

[(38, 'Success'),
 (21, 'No attempt'),
 (14, 'Success (drone ship)'),
 (9, 'Success (ground pad)'),
 (5, 'Failure (drone ship)'),
 (5, 'Controlled (ocean)'),
 (3, 'Failure'),
 (2, 'Uncontrolled (ocean)'),
 (2, 'Failure (parachute)'),
 (1, 'Precluded (drone ship)'),
 (1, 'No attempt ')]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>